---
layout: default
---

<div>
<article role="article">
  {% if page.title %}
  <header>
    <h1 class="entry-title">{% if site.titlecase and page.titlecase != false %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% if page.date %}<p class="meta">{% include octopress/post/date.html %}{{ time }}</p>{% endif%}
  </header>
  {% endif %}
  {{ content }}
  {% unless page.footer == false %}
    <footer>
      <p class="meta">{% include octopress/post/meta.html %}{% include octopress/custom/page_meta.html%}</p>
      {% unless page.sharing == false %}
        {% include octopress/post/sharing.html%}
      {% endunless %}
    </footer>
  {% endunless %}
</article>
{% include octopress/custom/after_page.html%}
{% if page.comments == true %}{% include octopress/comments.html %}{% endif%}
</div>
{% unless page.sidebar == false or site.default_sidebar == false %}
<aside class="sidebar">
  {% if page.sidebar == nil or page.sidebar == 'collapse' %}
    {% include_sidebar site.page_sidebar %}
  {% else %}
    {% include_sidebar %}
  {% endif %}
</aside>
{% endunless %}
