/* Custom container */
#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

/* Github Pure HTML & Responsive ribbon (http://codepo8.github.io/css-fork-on-github-ribbon/)
      -------------------------------------------------- */
#forkongithub a {
	background: #000;
	color: #fff;
	text-decoration: none;
	font-family: arial, sans-serif;
	text-align: center;
	font-weight: bold;
	padding: 5px 40px;
	font-size: 1rem;
	line-height: 2rem;
	position: relative;
	transition: 0.5s;
	display:block;
}

#forkongithub a:hover {
	background: #060;
	color: #fff;
}

#forkongithub a::before,#forkongithub a::after {
	content: "";
	width: 100%;
	display: block;
	position: absolute;
	top: 1px;
	left: 0;
	height: 1px;
	background: #fff;
}

#forkongithub a::after {
	bottom: 1px;
	top: auto;
}

#forkongithub {
	width: 100%;
}

@media screen and (min-width:980px) {
	#forkongithub {
		position: fixed;
		display: block;
		top: 0;
		right: 0;
		width: 200px;
		overflow: hidden;
		height: 200px;
		z-index:1200;
	}
	#forkongithub a {
		width: 100%;
		position: absolute;
		top: 60px;
		right: -60px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
		display:inline;
	}
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
  
  
   code, pre{color:#fdce93;background-color:#3f3f3f} .hll{background-color:#222} .c{color:#7f9f7f} .err{color:#e37170;background-color:#3d3535} .g{color:#7f9f7f} .k{color:#f0dfaf} .l{color:#ccc} .n{color:#dcdccc} .o{color:#f0efd0} .x{color:#ccc} .p{color:#41706f} .cm{color:#7f9f7f} .cp{color:#7f9f7f} .c1{color:#7f9f7f} .cs{color:#cd0000;font-weight:bold} .gd{color:#cd0000} .ge{color:#ccc;font-style:italic} .gr{color:red} .gh{color:#dcdccc;font-weight:bold} .gi{color:#00cd00} .go{color:gray} .gp{color:#dcdccc;font-weight:bold} .gs{color:#ccc;font-weight:bold} .gu{color:purple;font-weight:bold} .gt{color:#0040D0} .kc{color:#dca3a3} .kd{color:#ffff86} .kn{color:#dfaf8f;font-weight:bold} .kp{color:#cdcf99} .kr{color:#cdcd00} .kt{color:#00cd00} .ld{color:#cc9393} .m{color:#8cd0d3} .s{color:#cc9393} .na{color:#9ac39f} .nb{color:#efef8f} .nc{color:#efef8f} .no{color:#ccc} .nd{color:#ccc} .ni{color:#c28182} .ne{color:#c3bf9f;font-weight:bold} .nf{color:#efef8f} .nl{color:#ccc} .nn{color:#8fbede} .nx{color:#ccc} .py{color:#ccc} .nt{color:#9ac39f} .nv{color:#dcdccc} .ow{color:#f0efd0} .w{color:#ccc} .mf{color:#8cd0d3} .mh{color:#8cd0d3} .mi{color:#8cd0d3} .mo{color:#8cd0d3} .sb{color:#cc9393} .sc{color:#cc9393} .sd{color:#cc9393} .s2{color:#cc9393} .se{color:#cc9393} .sh{color:#cc9393} .si{color:#cc9393} .sx{color:#cc9393} .sr{color:#cc9393} .s1{color:#cc9393} .ss{color:#cc9393} .bp{color:#efef8f} .vc{color:#efef8f} .vg{color:#dcdccc} .vi{color:#ffffc7} .il{color:#8cd0d3}
  